*{
    margin:0;
    padding:0;
    transition:none;
}
body{
   /* background-image:url('./images/image.jpg') ;*/
   /*background-color: yellow;*/
   background-color: #ADD8E6; 
}
.heading{
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#003366 ;
    color: white;
   
}


img{
    height:7rem;
    border-radius: 50%;
    width:7rem;
    object-fit: cover;
}
.image{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap:2.5rem;
}
#rock{
    height:7rem;
    width:7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
#paper{
    height:7rem;
    width:7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#scissors{
    height:7rem;
    width:7rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.img-rock:hover{
    border:5px solid white;
    transform:none;
    cursor:pointer;
}
.img-paper:hover{
    border:5px solid white;
    transform:none;
    cursor:pointer;
}
.img-scissors:hover{
    border:5px solid white;
    transform:none;
    cursor:pointer;
}
.rest{
    height:10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.score {
    height:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:6rem;
    font-size:3rem ;
    margin-top: 6rem;
    color: #006400; /* Dark Green Color for Score */
    font-weight: bold; /* Bold font weight to emphasize the score */
}
.player{
    height:3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    font-size:3rem ;
    color:white;
    color: #006400; /* Dark Green Color for Score */
    font-weight: bold; /* Bold font weight to emphasize the score */
}

img{
    transition:none;
}
.pic{
    /*background-color:#C7253E;*/
    height:5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.7rem;
    /*display:inline;*/
    margin-top: 2rem;
    border-radius: 1rem;
    /*width:20rem;*/
    color: #F0F0F0; /* Light Gray Background for Box */
    background-color:  #333333;
    display:inline;
    padding:1rem;
    
}